#footer_banner{
	height: 40vw;
    background-image: url(../img/background_footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
margin: 18vw 0 0 0;
}
.footer_text{
	padding-top: 18vw;
}
#footer_banner h1{
	text-align: center;
    font-size: 2.2vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 3vw;
    font-weight: 300;
    opacity: 0.8;
}
#footer_banner s {
	margin-left: 5px;
}
#footer_banner h2{
	text-align: center;
	font-size: 1.5vw;
	font-family: 'Roboto', sans-serif;
	color: rgb(255, 255, 255);
	margin: 0;
    font-weight: 100;
    opacity: 0.7;
    font-weight: 300;
}
#footer{
	align-items: flex-end;
	-webkit-align-items: flex-end;
	height: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    margin-top: 25.7vw;
	padding-top: 3vw;
	padding-bottom: 3vw;
}
.flex{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
    margin-top: 8vw;
}
.inputs p,.secondform p{
	margin: 0;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	color: rgb(132, 131, 131);
	margin-bottom: 0.5vw;
    margin-top: 0.5vw;
}
.secondform textarea,.secondform input,.inputs input{
	border-radius: 2vw;
    border: 1px solid rgb(132, 131, 131);
    padding-left: 1vw;
    padding-right: 1vw;
    width: 13vw;
    opacity: 0.7;
	height: 2vw;
}
.submit{
	top: -4.2vw;
    position: relative;
    left: 18vw;
}
.footer_button{
	background-color: #00d8db;
	color: white;
	padding: 0.3vw 1.8vw;
	border-radius: 5vw;
	border: 2px solid #00d8db !important;
	font-size: 1vw;
	width: 9vw !important;
}
.button{
	text-align: center;
	padding-top: 4vw;
	margin-left: 15vw;
	position: relative;
}
.button button{
	background-image: linear-gradient(to left, #e4768a, #dd9869);
	color: white;
	padding: 0.5vw 1.8vw;
	border-radius: 5vw;
	border: none;
	font-size: 1vw;
}
.button p{
	margin: 0;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	color: rgb(132, 131, 131);
	margin-bottom: 0.5vw;
    margin-top: 0.5vw;
	text-align: center;
}
.footer_content p{
	margin: 0;
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(132, 131, 131);
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    text-align: left;
	line-height: 1.3vw;
	opacity: 0.8;
}
.footer_content{
	
}
#footer_banner form {
	z-index: 10;
}
#partners{
    width: 13vw;
    padding: 0 5vw;
}
#partners img{
	width: 100%;
    padding-top: 1vw;
}
.socilas img{
	width: 25%;
    padding: 0.5vw;
    padding-top: 1vw;
}
.firstform {
	margin-top: 18vw ;
}
.secondform {
	width: 45%;
	margin: auto;
	display: none;
	opacity: 0;
	z-index: 10;
	position: relative;
}
.secondform  s {
	text-decoration: none;
	font-size: 0.7vw;
}
.secondform textarea {
	width: 100%;
	height: 5vw;
}
.secondform textarea:focus {
	outline: none;
}
.secondform .flex {
	margin-top: 0;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.submitin {
	width: 100%;
	justify-content: center;
	-webkit-justify-content: center;

}
.secondform input[type=submit]{
	background: -webkit-linear-gradient(left, #02f7f7 , #00cfe1); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(right, #02f7f7, #00cfe1); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(right, #02f7f7, #00cfe1); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #02f7f7 , #00cfe1);
  	color: #fff;
  	border: none;
  	text-transform: uppercase;
  	font-size: 1vw;
  	margin: 2vw auto 0 auto;
  	width: initial;
}
.back {
	margin: 0 !important;
}

@media screen and (max-width: 900px){

	.firstform{
		flex-direction: column;
		-webkit-flex-direction: column;
	}
	.submit {
		top: 0;
		left: 0;
		margin-top: 4vw;
		display: flex;
		display: -webkit-flex;
		justify-content: center;
		-webkit-justify-content: center;
	}
	.secondform textarea, .secondform input, .inputs input{
		width: 50vw;
		max-width: 400px;
		height: 40px;
		border-radius: 20px;
		min-width: 250px;


	}
	.inputs {
		display: flex;
		display: -webkit-flex;
		flex-direction: column;
		-webkit-flex-direction: column;
		align-items: center;
		-webkit-align-items: center;
	}
	.footer_button {
		width: 30vw !important;
		font-size: 15px;
		/*margin: auto;*/
	}
	.inputs p, .secondform p {
		font-size: 15px;
	}
	.button {
		margin: 0;
		padding: 0;
	}
	.button button {
		border-radius: 20px;
		width: 30vw !important;
		font-size: 15px;
		max-width: 400px;
		height: 40px;
	}
	#footer {
		margin-top: 600px;
		flex-direction: column;
		-webkit-flex-direction: column;
		align-items: center;
		-webkit-align-items: center;
	}
	.submitin {
		width: initial;
	}
	.secondform {
		width: 51%;
	}
	.secondform .flex {
		flex-direction: column;
		-webkit-flex-direction: column;
		align-items:center;
		-webkit-align-items:center;
	}
	.button p {
		font-size: 15px;
	}
	.secondform input[type=submit] {
		width: 30vw;
		font-size: 15px;
	}
	.secondform textarea {
		height: 14vw !important;
	}
	.secondform  s {
		font-size: 10px;
    	margin-left: 5px;
	}
	#footer_banner {
		height: 100vw;
		margin-top: 0;
	}
	.footer_text {
        padding-top: 58vw;
    }
    #footer_banner h1 {
        font-size: 4.2vw;
        margin-bottom: 25vw;
    }
    .footer_content {
    	display: flex;
    	display: -webkit-flex;
    	justify-content: center;
    	-webkit-justify-content: center;
    }
    .footer_content p {
    	font-size: 15px;
    	line-height: initial;

		width: 60vw;
		text-align: center;

    }
    .footer_content .socilas {
    	width: 100%;
    	position: relative;
    	
    	
    }
     .footer_content .socilas img {
     	margin: auto;
     }
     .socilas img {
     	width: 23%;
     }
     #partners {
     	padding: 0;
     	margin: 0;
		 width: initial;
		 margin: 4vw 0 4vw;
     }
     #partners img {
     	width: initial;
     }


}