body{
	margin: 0;
    overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
#about{
	height: 48.8vw;
    background-image: url(../img/about_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
	margin-top: 5vw;
}

.info1{
	width: 29vw;
    margin-top: 6vw;
    margin-left: 20vw;
}
.info1 h1{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    text-align: left;
	text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
}
.info1 p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1.3vw;
	text-align: left;
}
.info2{
	width: 29vw;
    margin-top: 2vw;
    margin-left: 50vw;
    z-index: 10;
    position: relative;

}
.info2 h1{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    text-align: right;
	text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
}
.info2 p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    line-height: 1.3vw;
	text-align: right;
}
#what_you_get{
	height: 30vw;
}
.wrap{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;	
}
.wrap div{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 10vw;
    height: 7vw;
    margin: 0.5vw;
    padding: 1vw;
	text-align:center;
}
.wrap div img{
	width: 35%;
    
}
.wrap div h1{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
}
#what_you_get h2{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    text-align: center;
    text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
	margin-top: 4vw;
}
#what_you_get p{
	font-size: 0.7vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
    padding-left: 35vw;
    padding-right: 35vw;
    margin-top: 3vw;
}
#second_wave{
	height: 44.5vw;
    /*background-image: url(../img/background_2.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	top: -10vw;
}
#payment{
	height: 50vw;
	position: relative;
	top: -15vw;
    z-index: 2;
}
.display{
    width: 58.4vw;
    margin: auto;
    margin-top: 3vw !important;
    opacity: 0;
    
}
.display .pic {
    width: 40%;
    height: 15vw;
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.display .text {
    width: 60%;
    
} 
.disptext {
    display: none;
    
}
.disptext p{
    font-size:1vw;
    color: rgb(159, 159, 159);

}
.disptext.visable {
    display: block !important;
}
.wrap2{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;	
}
.wrap2 table th{
	height: 8vw;
}
.wrap2 div{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 16vw;
    height: 17vw;
    margin: 1vw;
    padding: 1vw;
	text-align:center;
    border-radius: 1vw;
    position: relative;
    top: 0;
    left: 0;
    opacity: 1;
}
.wrap2 div .img{
	background-size: 34%;
    background-position: center center;
    background-repeat: no-repeat;
}
.bank .img {
    background-image: url(../img/7.png);
}
.bank.blue .img {
    background-image: url(../img/7w.png);

}
.western .img {
    background-image: url(../img/6.png);
}
.western.blue .img {
    background-image: url(../img/6w.png);
}
.ewallets .img {
    background-image: url(../img/5.png);
}
.ewallets.blue .img {
    background-image: url(../img/5w.png);
}
.wrap2 div h1{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
}
.wrap2 div h4{
	font-size: 1vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    line-height: 2vw;
    text-align: center;
	font-weight: 300;
}
.wrap2 div h3{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
    cursor: pointer;
}
.wrap2 s{
    text-decoration: none;
    display: none;

}
.blue{
    background-color: #00c6d8;
    color: #fff;
}
.blue h1, .blue h4{
    color: #fff !important;
}
.flex_button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.flex_button div button {
    background-color: white;
	font-family: "Roboto", sans-serif;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 0.6vw;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
.flex_button div button:hover {
	color: rgb(0, 198, 216);
    text-decoration: underline;
}
#payment h2{
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 198, 216);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
	margin: 0;
}
.card{
	padding-left: 22vw;
    padding-right: 22vw;
    display: none;
}
.textaboutcard{
	width: 40vw;
    padding: 5vw;
    display: none;
    opacity: 1;
    height: 20vw;
    position: relative;
}
.textaboutcard.visable {
    display: block;
}

.textaboutcard b {
    font-weight: 400;
    font-size: 1.3em;
    color: #00c6d8;
}
.card h1{
	font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 198, 216);
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.card p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1.1vw;
    text-align: justify;
}
.card_photo {
	width: 20vw;
	padding-top: 4vw;
    min-height: 5vw;
    background-image: url(../img/cards/card0.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
}
.info1 {
}
    
@media screen and (max-width: 900px){
    #about{
        height: 140vw;
        left: 0;
        top: 0;
        width: 100vw;
    }
    .info1 {
        width: 80vw;
        margin: 6vw auto 0 auto;
    }
    .info2 {
        width: 80vw;
        margin: 28vw auto 0 auto;

    }
    .info2 h1, .info1 h1 {
        line-height: initial;
        font-size: 4.2vw
    }
    .info2 p, .info1 p {
        font-size: 2.7vw;
        line-height: initial;

    }
    #what_you_get {
        height: 110vw;
    }
    #what_you_get h2 {
        font-size: 4.2vw;
    }
    #what_you_get .wrap{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        width: 90vw;   
        margin: auto;
    }
    .wrap div {
        width: 30vw;
        height: 30vw;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-justify-content: flex-end;
    }
    .wrap div h1 {
        font-size: 2.7vw;
        line-height: 3vw;
    }
    #what_you_get p{
        font-size: 2.7vw;
        line-height: initial;
        padding-left: 10vw;
        padding-right: 10vw;
        margin-top: 10vw;
    }
    .wrap div img {
        width: 15vw;
    }

    #second_wave {
        height: 80vw;
    }
    #payment {
        margin-top: 10vw;
        height: 190vw;
    }
    #payment h2 {
        font-size: 4.2vw;
    }
    .flex_button {
        display: none;
    }
    .card{
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
        order: 0;
    }
    .card_photo {
        width: 100%;
        height: 30vw;
    }
    .card p {
        font-size: 2.7vw;
        line-height: initial;
    }
    .textaboutcard {
        padding: 0;
        width: 100%;
        height: inherit;
        order: 1;
        margin-top: 5vw

    }
    .card h1 {
        font-size: 4.2vw;
        text-align: center;

    }
    .wrap2 div h1{
        font-size: 2.7vw;
        line-height: initial;
    }
    .blue h1{
        color: rgb(159, 159, 159) !important;
    }
    .blue h4{
        color: rgb(0, 198, 216)!important;
    }
    .wrap2 div {
        display: none;
        width: 80vw;
        height: 90vw;
        box-sizing: border-box;
    }
    .wrap2 div:nth-child(1){
        display: block;
    }
    .blue {
        background-color: #fff;
    }
    .bank.blue .img {
        background-image: url(../img/7.png);
    }
    .western.blue .img {
        background-image: url(../img/6.png);
    }
    .ewallets.blue .img {
        background-image: url(../img/5.png);
    }
    .wrap2 table th {
        height: 30vw;
    }
    .wrap2 div h4{
        font-size: 4.2vw;
        line-height: initial;
    }
    .wrap2 div h3 {
        display: none;
    }
    .wrap2 s {
        display: inline;
    }
    .display {
        display: none !important;
    }


}