body{
	margin: 0;
    overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
}
#about{
	height: 48.8vw;
    background-image: url(../img/background_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
	margin-top: 5vw;
}
.info1{
	width: 29vw;
    margin-top: 6vw;
    margin-left: 20vw;
}
.info1 h1{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    text-align: left;
	text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
}
.info1 p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1.3vw;
	text-align: left;
}
.info2{
	width: 29vw;
	margin-top: 6vw;
    margin-left: 50vw;

}
.info2 h1{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    text-align: right;
	text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
}
.info2 p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: white;
    line-height: 1.3vw;
	text-align: right;
}
#what_you_get{
	height: 30vw;
}
.wrap{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;	
}
.wrap div{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 10vw;
    height: 7vw;
    margin: 0.5vw;
    padding: 1vw;
	text-align:center;
}
.wrap div img{
	width: 35%;
    padding: vw;
}
.wrap div h1{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
}
#what_you_get h2{
	font-size: 2.2vw;
    font-weight: 500;
    line-height: 2.4vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    text-align: center;
    text-shadow: 0px 3px 22.4px rgba(188, 188, 188, 0.05);
	margin-top: 4vw;
}
#what_you_get p{
	font-size: 0.7vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
    padding-left: 35vw;
    padding-right: 35vw;
    margin-top: 3vw;
}
#second_wave{
	height: 44.5vw;
    background-image: url(../img/background_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
	top: -10vw;
}
#payment{
	height: 50vw;
	position: relative;
	top: -15vw;
}
.wrap2{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;	
}
.wrap2 table th{
	height: 7vw;
}
.wrap2 div{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 16vw;
    height: 17vw;
    margin: 1vw;
    padding: 1vw;
	text-align:center;
}
.wrap2 div img{
	width: 35%;
}
.wrap2 div h1{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
}
.wrap2 div h4{
	font-size: 1vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    line-height: 2vw;
    text-align: center;
	font-weight: 300;
}
.wrap2 div h3{
	font-size: 0.8vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(0, 198, 216);
    line-height: 1vw;
    text-align: center;
	font-weight: 300;
}
.flex_button {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.flex_button div button {
    background-color: white;
	font-family: "Roboto", sans-serif;
    color: grey;
    border: none;
    cursor: pointer;
    margin: 0.6vw;
    font-size: 1vw;
    padding: 0.5vw 1vw;
}
.flex_button div button:hover {
	color: rgb(0, 198, 216);
    text-decoration: underline;
}
#payment h2{
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 198, 216);
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
	margin: 0;
}
.card{
	padding-left: 22vw;
    padding-right: 22vw;
}
.textaboutcard{
	width: 40vw;
    padding: 5vw;
}
.card h1{
	font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 198, 216);
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.card p{
	font-size: 0.9vw;
    font-family: "Myriad Pro", sans-serif;
    color: rgb(159, 159, 159);
    line-height: 1.1vw;
    text-align: justify;
}
.card_photo img{
	width: 20vw;
	padding-top: 4vw;
}

@media screen and (max-width: 900px){
}